body {
    overflow: hidden;
    background-color: black;
    margin: 0px;
    user-select: none;
}

.simple-text {
    text-align: center;
    margin: 8px;
    color: grey;
    font-size: 2em;
}

.window {
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.screen {
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.annotations {
    width: 20%;
    height: 100%;
    background-color: lightgray;
}

.annotations-table {
    width: 100%;
    height: 100%;
    padding: 10%;
}

.annotations-row {
    height: 50%;
}

.main {
    width: 60%;
    height: 100%;
}

.clock-and-previews {
    width: 20%;
    height: 100%;
    background-color: lightgray;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
}

.clock-frame {
    width: 80%;
    height: 5%;
    padding: 10%;
    padding-top: 9%;
    text-align: center;
}

.clock {
    font-family: monospace;
}

.preview-frame {
    width: 80%;
    height: 30%;
    padding: 10%;
    padding-top: 0%;
}

.current-event {
    color: rgba(0, 0, 255, 1);
}

.next-event {
    color: rgba(0, 0, 255, 0.2);
}